<div>
  <mat-card class="mat-elevation-z4" fxLayout="column" fxLayoutGap="8px">
    <mat-card-title>
      LOGIN PAGE
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content fxLayout="column" fxLayoutGap="8px">
      <mat-form-field style="width: 100%"
                      appearance="outline">
        <input matInput type="text" [formControl]="username">
        <mat-error *ngIf="username.invalid">{{this.mainconfig.getErrorMessage(username)}}</mat-error>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
