@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.parallaxBG {
    background: #000;
    background: linear-gradient(
        rgba(0, 0 ,0, 0.3),
        rgba(0, 0, 0, 0.8),
    );
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.justifyText {
    text-align: justify;
}

@mixin textStart {
    text-align: start;
    text-align: justify;
}

.textStart {
    @include textStart;
}

.textCenter {
    text-align: center;
}

.textEnd {
    text-align: end;
}

@mixin navbarBG {
    background: #fbfbd2 !important;
}

.navbarBG {
    @include navbarBG;
}

.mainNavbarTransparent {
    animation: fadeOut 500ms forwards;
    transition-property: background;
    transition-duration: 500ms;
    transition-delay: 500ms;
    background: transparent;
}

.mainNavbar, .mainNavbar:hover, .mainNavbarTransparent:hover {
    @extend .navbarBG;
}

.activeNavbar {
    animation: fadeIn 500ms forwards;
}

.hiddenNavbar {
    animation: fadeOut 500ms forwards;
}

//! HOME
.whiteColorHome {
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    height: 100vh;
    align-content: center;
    .leftHomeTitle {
        font-size: 50px;
    }
    .leftHomeSubtitle {
        font-size: 20px;
    }
    .rightHomeTitle {
        @extend .textEnd;
        display: block;
        font-size: 30px;
    }
    .rightHomeSubtitle {
        @extend .textEnd;
        font-size: 15px;
    }
}
//! END OF HOME

.containerStyle {
    background: #fbfbd2;
}

.content {
    box-shadow: 0 0 20px -6px rgba(0, 0 ,0, 0.2);
    background: whitesmoke;
}

.contentSpecial {
    margin-top: -100px;
}

@media (max-width: 575.98px) {
    .whiteColorHome {
        color: whitesmoke;
        text-shadow: 2px 2px 4px black;
        height: 100vh;
        align-content: center;
        .leftHomeTitle {
            font-size: 40px
        }
        .leftHomeSubtitle {
            font-size: 12px;
        }
        .rightHomeTitle {
            @include textStart;
            display: block;
            font-size: 25px;
        }
        .rightHomeSubtitle {
            @include textStart;
            font-size: 12px;
        }
    }

    .imgDescription {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(29, 106, 154, 0.72);
        color: #fff;
        visibility: hidden;
        opacity: 0;
        
        /* transition effect. not necessary */
        transition: opacity .2s, visibility .2s;
    }   
    
    .imgWrap:hover {
        .imgDescription {
            visibility: visible;
            opacity: 1;
        }
    }
}

