.firstBG {
    height: 100vh;
    background-size: cover;
}

.justifyText {
    text-align: justify;
}

.whiteColor {
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    height: 80vh;
    align-content: center;
    .leftHomeTitle {
        font-size: 50px;
    }
    .leftHomeSubtitle {
        font-size: 20px;
    }
    .rightHomeTitle {
        display: block;
        font-size: 30px;
    }
    .rightHomeSubtitle {
        font-size: 15px;
    }
}



