// !ADD CUSTOM STYLE BEFORE IMPORT BOOTSTRAP
// $body-bg: #000;

// @import '~bootstrap/scss/bootstrap.scss';

* {
    font-family: Merienda-One;
}

@font-face {
    font-family: "Merienda-One";
    src: local("Merienda-One"), url(./assets/font/MeriendaOne-Regular.ttf) format("truetype");
}